language: python
python:
  - "2.6"
  - "2.7"
  - "3.4"
before_install:
    - "export DISPLAY=:99.0" # Should fix matplotlib errors
    - "sh -e /etc/init.d/xvfb start"
install:
    - sudo apt-get install gfortran libopenblas-dev liblapack-dev #needed for sci-*
    - if [[ $TRAVIS_PYTHON_VERSION == '2.6' ]]; then pip install unittest2 ordereddict counter; fi
    - if [[ $TRAVIS_PYTHON_VERSION == '3.4' ]]; then pip install robotframework-python3; else pip install robotframework; fi
    - pip install -r requirements.txt
    - pip install -r tests/requirements.txt
    - python setup.py develop
script:
    - nosetests tests --with-coverage --cover-erase --cover-package=bio_pieces --nologcapture
    - pybot tests/*.robot
after_success:
    - coveralls
