sudo: false
language: python
python:
  - "2.7"
  - "3.4"
before_install:
    - "export DISPLAY=:99.0"
    - "sh -e /etc/init.d/xvfb start"
install:
    - ./install.sh miniconda
    - export PATH=$PWD/miniconda/bin:$PATH
    - if [[ $TRAVIS_PYTHON_VERSION == '3.4' ]]; then pip install robotframework-python3; else pip install robotframework; fi
before_script:
    - 'echo "TRAVIS_BRANCH: $TRAVIS_BRANCH"'
    - 'echo "TRAVIS_TAG: $TRAVIS_TAG"'
    - 'echo "TRAVIS_PULL_REQUEST: $TRAVIS_PULL_REQUEST"'
    - '.travis/master.sh'
    - '.travis/develop.sh' 
script:
    - nosetests tests -v --with-coverage --cover-erase --cover-package=bio_bits -a '!download'
    - pybot tests/*.robot
    - cat /home/travis/build/VDBWRAIR/bio_bits/output.xml
after_success:
    - coveralls 
    - .travis/push_release_tag.sh
notifications:
  webhooks:
    urls:
      - https://webhooks.gitter.im/e/733ce26f5af2ec9f2503
    on_success: change  # options: [always|never|change] default: always
    on_failure: always  # options: [always|never|change] default: always
    on_start: never     # options: [always|never|change] default: always
